#logo-container{
  position: relative;
}
#version{
  left: 218px;
  position: absolute;
  top: 76px;
}
#popupSend,
#popupSent{
  padding:1.5em;
}
h3{
  margin-top:0;
  margin-bottom:0.5em;
}
h4{
  margin-top:1em;
  margin-bottom:0.5em;
  color: #3373a5;
}
.area_radio .ui-controlgroup-controls,
.sexo_radio .ui-controlgroup-controls{
  width:100%;
}
.area_radio .ui-radio{
  width:33.33%;
}
.sexo_radio .ui-radio{
  width:50%;
}
.socioeconomico .ui-btn-icon-right > .ui-btn-inner > .ui-icon{
  opacity:0.2;
}
.doses{
  margin-left: -2.5em;
  line-height: 1.6em;
  font-size: 0.75em;
  list-style: none;
}
.ui-btn-up-b,
.ui-btn-hover-b{
  margin-top:1em;
}
.ui-controlgroup-label{
  margin-bottom:1em;
}
.multiple-phones{
  text-align: right;
}
.multiple-phones label{
  width: 20%;
  display: block;
  text-align: left;
}
.multiple-phones input{
  margin-bottom:0.8em !important;
}
.multiple-phones input.last{
  margin-bottom:0 !important;
}
.hiddenframe{
  visibility:hidden;
}